/* comentario sobre el codigo  */

body {
	/* background: red;
	text-align: center;
	color: #ddd60b;
	font-size: 30px;
	font-weight: 1000;
	font-style: italic;
	font-variant: small-caps;
	line-height: 30px; */

	font: italic small-caps;
}

#titulo {
	color: blue;
	padding: 20px;

}

input {
	border-radius: 10px;
}

p {
	color: blue;
	font-family: arial;

}

#login {
	margin: 0;
	width: 200px;
	height: 260px;
	background: #ddd60b;
	padding-left: 30px;
	/*
	border-width: 5px;
	border-style: dotted;
	border-color: blue;*/
	border-top: solid 10px blue;
	border-bottom: solid 10px blue;
	border-radius: 10px;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.7);
	background: -webkit-linear-gradient(top, #c5c5c5, blue); /* para usar esta propiedad se debe utilizar prefijo para los difernentes navegadores*/
	-webkit-transition: border-radius 0.3s ease-out;


}
	#login:hover {
		border-radius: 50px;


	}

ul {

	padding-left: 0;
	list-style: none;
}